{% extends "widgets.html.twig" %}
{% block refresh %}6{% endblock %}
{% block header %}
    {{ parent() }}

    <style>

        @keyframes walking-left {
            from { left: {{ random([1000, 1100, 1200]) }}px; opacity: 1 }
            to { left: 0;  opacity: 0 }
        }

        @keyframes walking-top {
            from { top: 0; opacity: 1 }
            to { top: {{ random([100, 200, 300]) }}px; opacity: 0 }
        }
        body {
            {% if style != 'clean' %}background-color: rgba(0, 0, 0, 0.5);{% endif %}
            width: 1400px;
            margin: 0;
            padding: 30px;
            scroll-behavior: unset;
        }

        div.phant {
            width: 100px;
            height: 120px;
            overflow: hidden;
            position: relative;
        }

        div.phant p {
            font-weight: bold;
            text-align: center;
        }

        div.moving-top {
            animation-name: walking-top;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }

        div.moving-left {
            animation-name: walking-left;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }

        div.moving-right {
            animation-name: walking-left;
            animation-direction: reverse;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }

        div.moving-right img {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        div.moving-bottom {
            animation-name: walking-top;
            animation-direction: reverse;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }

        img {
            width: 100%;
            max-width: 100px;
        }
    </style>
{% endblock %}

{% block content %}

    {% if style != 'clean' %}
        <h1>Elephpants Lounge</h1>
        <p>Welcome! We currently have a party of <strong>{{ captures|length }}</strong> elephpants.</p>
    {% endif %}

    {% if captures %}
        {% for user, captured in captures %}
            <div class="phant moving-{{ random(['left', 'right', 'top', 'bottom']) }}">
                <img src="/images/games/capture/{{ captured.latest }}.gif">
                <p>{{ user }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}